<div class="start-container">
    <button
        color="accent"
        class="button start-container--button"
        type="button"
        routerLink="/instruction"
    >
        Instruction
    </button>
    <button
        color="primary"
        type="button"
        class="button start-container--button"
        routerLink="/faction"
    >
        Start
    </button>
    <button
        color="primary"
        type="button"
        class="button start-container--button"
        routerLink="/decks"
    >
        Decks
    </button>
</div>
