<div class="faction-container">
    <button
        class="button faction-container__button"
        type="button"
        (click)="setFaction('NR')"
        title="nr"
    >
        <img
            src="../../assets/images/faction/nr.png"
            alt=""
            class="faction-container__button__image"
        />
    </button>
    <button
        class="button faction-container__button"
        type="button"
        (click)="setFaction('NG')"
        title="ng"
    >
        <img
            src="../../assets/images/faction/ng.png"
            alt=""
            class="faction-container__button__image"
        />
    </button>
    <button
        class="button faction-container__button"
        type="button"
        disabled="true"
        title="sk"
    >
        <img
            src="../../assets/images/faction/sk.png"
            alt=""
            class="faction-container__button__image"
        />
    </button>
    <button
        class="button faction-container__button"
        type="button"
        disabled="true"
        title="sc"
    >
        <img
            src="../../assets/images/faction/sc.png"
            alt=""
            class="faction-container__button__image"
        />
    </button>
    <button
        class="button faction-container__button"
        type="button"
        disabled="true"
        title="mo"
    >
        <img
            src="../../assets/images/faction/mo.png"
            alt=""
            class="faction-container__button__image"
        />
    </button>
</div>
