<ng-container *ngIf="item.isNewGame; else noConfirm">
    <button
        class="menu-item button"
        appConfirmAction
        confirmMessage="Do you really want to start a new game?"
        (confirmed)="goToNewGame()"
    >
        <span class="menu-item__link">{{ item.name }}</span>
    </button>
</ng-container>

<ng-template #noConfirm>
    <a
        class="menu-item button"
        [ngClass]="{
            'menu-item--disabled': item.isSpy && !(isLastCardSpy$ | async)
        }"
        [routerLink]="
            item.isSpy
                ? (isLastCardSpy$ | async)
                    ? item.route
                    : null
                : item.route
        "
        routerLinkActive="active"
        [target]="item.target ?? '_self'"
    >
        <span class="menu-item__link">{{ item.name }}</span>
    </a>
</ng-template>
