.container1 {
    background-image: url("../../../assets/instruction/Instrukcja 1.png");
}
.container2 {
    background-image: url("../../../assets/instruction/Instrukcja 2.png");
}
.container3 {
    background-image: url("../../../assets/instruction/Instrukcja 3.png");
}
.container4 {
    background-image: url("../../../assets/instruction/Instrukcja 4.png");
}
.container5 {
    background-image: url("../../../assets/instruction/Instrukcja 5.png");
}
.container6 {
  background-image: url("../../../assets/instruction/Instrukcja 6.png");
}
.container7 {
  background-image: url("../../../assets/instruction/Instrukcja 7.png");
}
.container8 {
  background-image: url("../../../assets/instruction/Instrukcja 8.png");
}
.container9 {
  background-image: url("../../../assets/instruction/Instrukcja 9.png");
}
.container10 {
  background-image: url("../../../assets/instruction/Instrukcja 10.png");
}
.container11 {
  background-image: url("../../../assets/instruction/Instrukcja 11.png");
}

.container {
    height: 90vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
