.container1 {
    background-image: url("../../../assets/instruction/1.jpg");
}
.container2 {
    background-image: url("../../../assets/instruction/2.jpg");
}
.container3 {
    background-image: url("../../../assets/instruction/3.jpg");
}
.container4 {
    background-image: url("../../../assets/instruction/4.jpg");
}
.container5 {
    background-image: url("../../../assets/instruction/5.jpg");
}

.container {
    height: 90vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
