<!-- <div class="card-container">
    <div
        class="card-container__card-element card-container__card-row"
        [ngClass]="getCombatClass()"
    ></div>
    <img
        [src]="'data:image/jpeg;base64,' + card.image"
        alt=""
        class="card-container__img"
    />
</div> -->

<div class="card-container">
    <!-- <div
        class="card-container__card-element card-container__card-row"
        [ngClass]="getCombatClass()"
    ></div> -->
    <img
        [src]="'data:image/jpeg;base64,' + card.image"
        alt="card"
        class="card-container__img"
    />
</div>
