:host {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    align-items: center;

    .turn-status-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .button-navigation {
        height: 5vh;
        width: 3vw;
    }
}
