<div class="choose-container__buttons-container">
    <button
        *ngIf="choosenCards$ | async as choosenCards"
        class="button choose-container__buttons-container--button"
        type="button"
        appConfirmAction
        confirmMessage="Are you sure you want to add additional cards to your hand? This may cause
        changes to the algorithm."
        (confirmed)="onSend()"
    >
      Confirm
    </button>
</div>
<div class="choose-container__cards-container">
    <app-clickable-card
        class="margin"
        [ngClass]="{
            'no-margin': card | isCardClicked: (choosenCards$ | async)
        }"
        *ngFor="let card of cards$ | async; let cardIndex = index"
        [card]="card"
        [isClicked]="card | isCardClicked: (choosenCards$ | async)"
        (wasClicked)="cardStateWasChanged(card)"
    >
    </app-clickable-card>
</div>
